/* ---
 fonts
------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*-------------------------
 common styles or utilities 
 -------------------------- */
body{
    font-family: 'Poppins', sans-serif;
}

/*-------------------
 First Section Styles
---------------------*/
.top-section{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2D25A0;
    transition: background-color 1s linear
}
.title-text{
    width: 50%;
    text-align: center;
    padding: 50px;
}
.striker{
    width: 50%;
    padding: 100px;
}

.striker img{
    width: 100%;
}

 
.top-section:hover{
    background-color:seagreen;
}

h1{
    font-size: 64px;
    color: #FFFFFF;
}
.link-button{
    
    text-decoration: none;  
    background-color: #E02C6D; 
    padding: 10px 24px 10px 24px;
    border-radius: 50px;
    font-weight: 700;
    color: #FFFFFF;
    transition: background-color 1s linear;
   
}

.link-button:hover{
    background-color: orangered;
    
}
.fa-arrow-right{
    padding-left: 8px;

}


button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
}   

/* -------------
 Second Section
 --------------- */

.middle-section{
    
}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    flex-direction: column;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 70px 180px;
    align-items: center;
    justify-content: center;
   
}
.player{
    padding: 15px;
    width: 330px;
    height: 474px;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
h3{
    font-size: 25px;
    
}
.player p{
    color: #6C6C6C;
    font-size: 16px;
}
.player img{
    width: 100%;   
}

/* -----------
 Third Section
 ------------- */

.contact-container{
    box-sizing: border-box;
    background-image: url("/images/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.contact-m{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;
}
.contact-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 75px;
    border-left: 1px solid gray;
}
.contact-input h2{
    color: rgb(2, 73, 2);
}
.contact-link h1{
    color: seagreen;
}
.contact-link{
    padding:75px;
    width: 50%;
}
.contact-link address{
    font-size: 1rem;
    padding: 20px 0;
    color :rgb(1, 20, 1);
    letter-spacing: 1px;
}
.social{
    display: flex;
    flex-direction: row;
}
.social a{
    text-decoration: none;
    padding:5px;
    font-size: 1rem;
}
.txt{
    width: 100%;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
textarea{
    resize: none;
}
button{
    padding: 15px;
    margin: 10px;
    background-color:tomato;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}


/* --------------
The final Section 
-----------------*/
.bottom{
    margin-top: 25px;
}
.bottom img{
    width: 483.87px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icons{
    display: flex;
    margin: auto;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    
}
.social-media{
    padding: 0px 10px;
    text-align: center;
}
.piracy-alert{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}



/* -----------
 Media Queries 
 ------------- */

/* For Mobile Devices */

 @media only screen and (max-width: 688px) {
    
    
    
    .top-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .title-text{
        width: 100%;
        padding: 10px;
    }
    .striker{
        width: 100%;
        text-align: center;
    }
    .striker img{
        width: 80%;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-m{
        flex-direction: column;
    }
    .contact-input h2{
        color: rgb(2, 73, 2);
        font-size: 1rem;
    }
    .contact-input{
        border: none;
    }
    
}

/* For Tablet Devices */

@media only screen and (max-width: 992px) {
    
    .players{
        grid-template-columns: repeat(2, 2fr);
    }
    .striker img{
        
    }
    h1{
        font-size: 40px ;
        padding-top: 10px;
    }
    
}
     
 